{% extends 'base.html.twig' %}
{% block title %}Page qui extends de la page base{% endblock %}
{% block body %}
    <h1>Coucou</h1>
    <div>{{ Manale.age }} , {{ Manale.adresse }}</div>
{% endblock %}

