<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Wishes !{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

</head>
<body>
<header>
    {% include 'navWish.html.twig' %}
</header>
<main>
    {% block body %}{% endblock %}
</main>
<footer>
    <p>&copy;{{ "now" | date('d/m/Y') }} wishes !</p>
</footer>
</body>
</html>